<% layout('layouts/boilerplate') %>
    <!--  <h1>Edit CampGround</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form" novalidate>
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
        </div>
        <br>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %> "required>
        </div>
        <br>
        <button>Apply Changes</button>
    </form>
    <br>
<a href="/campgrounds/<%= campground._id %> ">Back to Campground</a>


 -->

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">

            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form" novalidate
                enctype="multipart/form-data">

                <div>
                    <label class="foem-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <br>
                <div>
                    <label class="foem-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <!-- <div>
                <label class="form-label" for="image">Add Images</label>
                <input  type="file" id="image" name="image"
                      multiple>
                <div class="valid-feedback">Looks good</div>
            </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                            value="<%= campground.price %>" required>
                    </div>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%= campground.description %> </textarea>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add More Image(s)...</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img,i){ %>
                        <img  crossorigin="anonymous" src="<%= img.thumbnail %>" class="img-thumbnail" alt="">


                        <div class="form-check-inline">
                            <input id="image-<%=i%>" class="form-check-input mt-0" type="checkbox"
                                value="<%= img.filename %>" aria-label="Radio button for following text input"
                                name="deleteImages[]">
                        </div>


                        <label for="image-<%=i%>">Delete</label>
                        <% } )%>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>

            </form>
            <br>
            <div class="mb-3">
                <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
            </div>
        </div>
    </div>
    </div>